.Formbody{
    margin-top: 20px;
  background-image: url(https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
width: 30%;
margin-left: 30%;
}

