*{
    margin: 0;
    
}
.app{
    padding: 0;
    background-image: url(https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    
    
}